mat-card{
  background-color: gray;
}

.center{
  display: flex;
  justify-content: center;
}

.insert-header {
  display:flex;
  font-size: 25px;
  padding-bottom: 15px;
  color: white;
  text-align: center;
}

.insert-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.insert-title, .insert-author {
  width: 25%;
}

.insert-synopsis {
  width: 50%;
}

.buttons {
  background-color: crimson;
  margin: 5px;
}
